  .filter{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    ul{
      display: flex;
      gap: 20px;
      list-style: none;
      li{
        cursor: pointer;
        color: var(--main-color);
        transition: .5s;
        &:hover{
          color: var(--second-color);
        }
      }
      .tag{
        color: var(--second-color);
      }
      .tag.active {
        font-weight: bold;
        color: var(--main-color);
      }







    }
  }