.allP{
    padding-top: 3cm !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(300px, 100vh, 800px);
    padding-bottom: clamp(30px, 10vh, 20vh);
    align-items: center;
    gap: 10px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 100%;
        width: 70%;
        height: 2px;
        background: #000;
    }
    .products{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        width: 60%;
        height: 100%;
        float: left;
        margin-top: clamp(1cm, 1vw, 3cm);

    }
    
}

@media (max-width:600px) {
    .allP{
        .products{
            width: 100%;
        }
    }
}