.allP {
    padding-top: 3cm !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(300px, 100vh, 800px);
    padding-bottom: clamp(30px, 10vh, 20vh);
    align-items: center;
    gap: 10px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0%; // relative to container height
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 2px;
        background: #000;
    }

    .products {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        width: 60%;
        height: 100%;
        float: left;
        margin-top: clamp(1cm, 1vw, 3cm);

    }

}

@media (max-width:600px) {
    .allP {

        height: clamp(300px, 120vh, 800px);
        padding-bottom: clamp(30px, 10vh, 70vh);
        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: clamp(300px, 110vh, 110%); //here
        //     width: 70%;
        //     height: 2px;
        //     background: #000;
        // }

        .products {
            width: 100%;
        }
    }
}