.newest{
  margin-top: 3cm;
  display: flex;
  gap: 20px;
  padding-inline: 30px;
  .img{
    width: 50%;
    float: right;
    img{
      width: 100%
    }
  }

  .product-info{
    width: 50%;
    float: left;
    margin-top: clamp(20px, 10vh, 50px);
    .des{
      margin-top: 20px;
      ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px 10px;
        li{
          font-size: 1.1em;
        }
      }
    }
    h4{
      width: 130px;
      margin-top: clamp(30px, 4vh, 40px);
    }
  }
}
@media (max-width:600px) {
  .newest{
      flex-direction: column !important;
      gap: 0 !important;
      .img{
        width: 100% !important;
      }
    .product-info{
      width: 100%;
    }
  }
}