.why {
    display: flex;
    gap: 40px;
    margin-top: 3cm;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background: var(--second-color) !important;
    padding-block: 20px;
    width: 100%;

    .txt {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-inline: 20px;
        width: clamp(50%, 60%, 700px);
        float: left !important;

        h1 {
            font-family: var(--main-font);
        }

        ul {
            list-style: square;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .note {
            background: var(--note-div);
            font-size: small;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-inline: 20px;
            width: clamp(40px, 80%, 50vw);
        }

    }

    .img {
        padding-inline: 20px;

        img {
            width: clamp(100px, 30vw, 700px);
        }
    }
}

@media (max-width:600px) {
    .why {
        flex-direction: column;
        justify-content: center;
        justify-content: center;

        .txt {
            width: 100% !important;
            padding-inline: 30px !important;

            h1 {
                width: 100%;
                font-size: xx-large;
            }

            .note {
                width: 90%;
            }
        }

        .img {
            img {
                width: clamp(200px, 100%, 400px);
            }
        }
    }
}