.footer {
  background: var(--footer-bg);
  color: white;
  padding: 30px;
  margin-top: clamp(2cm, 2vw, 3cm);
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;

  h2 {
    font-family: var(--main-font) !important;
    text-align: center;

    span {
      color: var(--main-color);
    }
  }

  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;

    .txt {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      img {
        width: clamp(20px, 5vw, 40px); // scales better
      }
    }

    h5 {
      display: flex;
      gap: 10px;

      img {
        width: clamp(15px, 3vw, 25px);
      }
    }

    main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: clamp(10px, 5vw, 40px);
      width: 100%;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: clamp(0.9em, 1.1vw, 1.2em);

    li {
      cursor: pointer;
      max-width: fit-content;
      transition: 0.2s;

      &:hover {
        color: white;
        transform: translateX(10px);
      }
    }
  }


  /* 📱 Mobile */
  @media (max-width: 768px) {
    .grid {
      main {
        grid-template-columns: 1fr 1fr 1fr; // stack
        text-align: center;
      }
    }

    ul {
      align-items: center;
    }
  }
}