.all-products{
    padding-top: clamp(2cm, 3cm, 5cm);
  .chosen-item{
    display: flex;
    padding-block: 20px;
    border-bottom: 1px solid;
    .left{
      width: 40%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 400px;
      }
    }
    .right{
      width: 60%;
      float: right;
      .item-info{
        display: flex;
        flex-direction: column;
        padding-top: 1cm;
        gap: 20px;
        h1{
          font-weight: 600;
        }
        h4{
          color: red;
        }
      }

      .item-ctas{
        display: flex;
        gap: 10px;
        align-items: center;
        button{
          padding: 5px 20px;
          background-color: var(--second-color-2);
          border-radius: 10px;
          cursor: pointer;
          border: none;
          transition: .3s ease;
          &:active{
            transform: scale(1.04);
          }
        }
      }
    }
  }
}